@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here are the endpoints. using stored procedures and entity framework.</p>
    <p>
        <a href="/api/Library/Books"> All Books </a>
    </p> 
    <p>
        <a href="/api/Library/Book/1"> Book By Id</a>
    </p>
</div>
